<div id="<%= dom_id publication %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= publication.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= publication.content %>
  </p>


</div>
